# Analyse des Iris-Datensatzes 
In diesem Notebook berechnen wir den Mittelwert aller numerischen Spalten.

In [8]:
import pandas as pd

def calcMeans(dataframe):
    return dataframe.apply(lambda x: x.mean())

In [9]:
from sklearn import datasets

iris = datasets.load_iris(return_X_y=True, as_frame=True)

data = iris[0]

data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [10]:
means = calcMeans(data)

print(means)

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64